@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #32373b;
  --bgSecundario: #1c1c1c;
  --color: #fff;
  --colorSecundario: #000;
}
::-webkit-scrollbar {
  background: #fff;
  width: 10px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #568bff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7fa8ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #568bff;
}

::selection {
  background-color: #4f46e5; /* Color de fondo cuando se selecciona el texto */
  color: white; /* Color del texto seleccionado */
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #d1d1d1;
  transition: all 200ms ease 200ms;
}
