@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #32373b;
  --bgSecundario: #1c1c1c;
  --color: #fff;
  --colorSecundario: #000;
}
.dark body::-webkit-scrollbar {
  background: #fff;
  width: 10px;
  border-radius: 4px;
}
.dark body::-webkit-scrollbar-thumb {
  background: #568bff;
  border-radius: 4px;
}
.dark body::-webkit-scrollbar-thumb:hover {
  background: #7fa8ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.dark body::-webkit-scrollbar-thumb:active {
  background-color: #568bff;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #d9d9d952;
  transition: all 200ms ease 200ms;
}

.dz-error-message,
.dz-success-mark,
.dz-progress,
.dz-error-mark,
.dz-details {
  display: none !important;
}
.dz-remove {
  text-decoration: none;
  margin: 1rem;
  background-color: #ff8686;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  &:hover {
    background-color: #df9a9a;
    text-decoration: underline;
  }
}
.dropzone,
.dz-message {
  display: flex;
  justify-content: center;
}
.dz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropzone {
  border: 1px solid #ababab !important;
}

.dropzone .dz-clickable {
  text-align: center;
}

.dz-image {
  border-radius: 0 !important;
}
.dz-preview .dz-image-preview {
  z-index: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
